/*
Custom SEE.inc stylesheet
Version: 1.2
*/

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,600;1,300;1,600&display=block');

$dark-blue: #00091c;
$blue: #2098D1;
$gray: rgb(100,100,100);
$white: #ffffff;

@mixin trans($arg: all) {
	transition: $arg 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

*, a:focus, button:focus {
	box-sizing: border-box;
	outline: 0;
}

html, body {
	width: 100%;
	background: $dark-blue;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {

}

a, a:hover {
	text-decoration: none;
	@include trans;
}

button {
	margin-top: 2em;
	padding: 0 2.5em 3.2em;

	&.button-primary,
	&.button-primary:hover {
		background-color: transparent;
		border-width: 2px;
	}
}

.center {
	margin: 0 auto;
	text-align: center;
}

html.wf-loading * {
	opacity: 0;
}

.logo {
	@include trans;
	display: block;
	max-width: 240px;
	margin-left: 0;
}

#topbar-container {
	// @include trans;
	@include trans($arg: background);
	// @include trans($arg: min-height);
	z-index: 15;
	position: relative;
	top: 0;
	background: rgba($dark-blue,0);
	min-height: 0;
	// height: 100px;

	&:before {
		@include trans;
		content: '';
		display: block;
		width: 100%;
		height: 23vh;
		background: linear-gradient(180deg, rgba(0, 9, 28, 0.95) 0%, rgba(0, 9, 28, 0.78) 50%, rgba(0, 9, 28, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
	}

	#topbar {
		@include trans($arg: transform);
		// @include trans;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		position: absolute;
		top: 0;
		z-index: 2;
		// width: 100%;
		// padding-top: 3em;
		max-width: 100%;
		padding-top: 24vh;
				// transform: translateY(24vh);

		left: 8%;
		right: 6%;

		> div {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			width: auto;
		}

		a#logo {
			flex-grow: 1;
		}

		nav.navigation {
			// @include trans;
			transform: translateX(0vh) translateY(3em);
		}

		#nav-icon {
			$size: 4px;
			width: $size * 15;
			height: $size * 7;
			position: relative;
			// transform: rotate(0deg) translateY(2vh);
			transform: rotate(0deg);
			padding: 0;
			margin: 0;
			transition: .5s ease-in-out;
			cursor: pointer;
			margin: 0;
			opacity: 1;
			border: 0;
			border-radius: 0;
			display: none;

			&:hover {
				opacity: .6;
			}

			span {
				display: block;
				position: absolute;
				height: $size;
				width: 100%;
				background: $white;
				border-radius: $size / 2;
				opacity: 1;
				left: 0;
				transform: rotate(0deg);
				transition: .25s ease-in-out;

				&:nth-child(1) {
					top: 0px;
				}

				&:nth-child(2),
				&:nth-child(3) {
					top: $size * 3;
				}

				&:nth-child(4) {
					top: $size * 6;
				}
			}

			&.open span {
				&:nth-child(1),
				&:nth-child(4) {
					top: $size * 2;
					width: 0%;
					left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}
			}
		}
	}

	&:not(.sticky) {
		#topbar {
			@include trans($arg: all);
		}
	}

	&.sticky:not(.open) {
		// @include trans;
		background: rgba($dark-blue,0);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;

		#topbar {
			@include trans($arg: transform);
			// @include trans;
			padding-top: 5vh;
				// transform: translateY(2.5vh);
				// transform: translateY(0vh);
			top: 0;
			// align-items: flex-end;

			.logo {
				transform-origin: left;
				// transform: scale(0.75) translateX(-6vw) translateY(3vh);
				transform: scale(0.75) translateX(-4vw) translateY(0);
			}

			nav.navigation {
				// @include trans($arg: none);
				// transform: translateX(0vw);
			}
		}
	}

	&.open {
		background: rgba($dark-blue,0.99);
		width: 100%;
		min-height: 100vh;
		display: block;
		opacity: 1;
		position: fixed;

		#topbar {
			@include trans($arg: all);
			// left: 0 !important;
			// right: 0 !important;
			// padding: 8vh 5vw !important;
			// padding: 2.5vh 5vw !important;
			padding-top: 5vh !important;
				// transform: translateY(-21.5vh);
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-start;

			> div {

				#logo {
					// width: 64%;
					display: flex;
					align-items: center;
					flex-grow: 2;
					.logo {
						// width: 50vw;
						// max-width: 240px;
						transform-origin: left;
						// transform: scale(0.75) translateX(-6vw) translateY(3vh);
						transform: scale(0.75) translateX(-4vw) translateY(0);
						// padding-left: 5vw;
						// padding-top: 5vh;
					}
				}

				#nav-icon {
					// padding-right: 1vw;
					// top: 5vh;
					// right: 5vw;
					span {
						background: $blue;
					}
				}
			}

			nav.navigation {
				display: block;
				opacity: 1;
				// transform: scale(1);
				width: 100%;
				// padding-top: 8vh;
				transform: scale(1) translateY(8vh);

				ul.main-menu li {
					display: block;
					text-align: center;
					font-size: 1em;
					letter-spacing: 0.12em;
					padding: 0.45em 2em;
				}
			}
		}
	}
}

body {
	font-family: Prompt;
	background: $dark-blue;
	background: linear-gradient(8deg, $dark-blue 64%, $blue 100%);
	background-repeat: no-repeat;
	color: $white;
	font-size: 1.7em;
	display: block;
	overflow-y: scroll;
	position: relative;

	&.noscroll {
		overflow-y: hidden;

		#topbar-container.open {
			overflow-y: scroll;
		}
	}

	&#page-home {
		background: $dark-blue;

		button {
			margin-top: 0;
		}

		.logo {
			max-width: 300px;
		}
	}

	&.not-home #footer {
	    padding: 4em 0;

	    .column {
		    opacity: 0.6;
		}
	}

	&#page-contact {
		h2 {
			font-size: 2em;
		}

		#header {
			margin-top: 14em;
		}

		#footer {
			position: relative;
			margin-top: 5em;
		}
	}
}

.image-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    z-index: 1;
    margin-top: 0;

    @supports ( -webkit-touch-callout : none) {
	& {
		background-attachment:scroll
		}
	}

	@supports not ( -webkit-touch-callout : none) {
	& {
		background-attachment: fixed;
		}
	}

    &:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: $dark-blue;
		background: linear-gradient(96deg, rgba($dark-blue,0.85) 0%, rgba($dark-blue,0.35) 65%, rgba($dark-blue,0) 100%);
		background-repeat: no-repeat;
		position: absolute;
	}

    > .container {
		padding: 8em 3em;
		z-index: 1;

		.container {
			padding: 0;
		}
	}

	img {
		position: absolute;
		top: 0;
		width: 100%;
	    z-index: -1;
	}

	&#hero {
		padding-top: 20vh;
		&:before {
			background-size: cover;
			background-position: center;
			content: '';
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			top: -20vh;
			position: absolute;
		}
		.no-webp &:before {
			background-image: url("../images/bg.jpg");
		}
		.webp &:before {
			background-image: url("../images/bg.webp");
		}
	    &:after {
			display: none;
		}
		.container {
			padding: 3em 0;
		}
	}

	.no-webp &#vision {background-image: url('../images/vr-vision.jpg');}
	.webp &#vision {background-image: url('../images/vr-vision.webp');}

	.no-webp &#robots {background-image: url('../images/remote-robot-service.jpg');}
	.webp &#robots {background-image: url('../images/remote-robot-service.webp');}

	.no-webp &#portal {background-image: url('../images/remote-laptop.jpg');}
	.webp &#portal {background-image: url('../images/remote-laptop.webp');}

	.no-webp &#framework {background-image: url('../images/remote-vr.jpg');}
	.webp &#framework {background-image: url('../images/remote-vr.webp');}

	&#careers {
		height: auto;
		z-index: 5;

		> .container {
			// padding: 8em 0 13em;
			padding: 13em 0 8em;
		}

		h2 {
			padding-bottom: 1em;
		}
		h3 {
			font-size: 3rem;
			margin-bottom: 1rem;
		}

		.careers-offer {
		    background: rgba($gray,0.1);
		    padding: 2em 3em;
		    margin-bottom: 1em;
		    border-radius: 8px;
		    position: relative;

		    a {
			    display: block;
			    position: absolute;
			    right: 3em;
			    bottom: 50%;
			    top: 50%;
			}
		}

		.careers-location {
		    padding: 0;
		    margin: 0;
		}
	}

	&#contact {
		@include trans;
		background: $dark-blue;
		position: relative;
		opacity: 1;
		// opacity: 0;
		// position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// z-index: 20;
		// transform: translateX(100%);

		> .container {
			overflow-y: auto;
			// padding: 0;
			padding: 8em 0 13em;

			.container {
			    width: auto;
			}

			.contact-part {
			    padding-bottom: 3em;
			}
		}

		button.close {
			// display: block;
			display: none;
			position: fixed;
			z-index: 30;
			top: 5vh;
			right: 5vw;
			border: 0;
			width: auto;
			height: auto;
			overflow: hidden;
			padding: 1em;
			margin: 0;
			line-height: 0;

			svg {
				fill: $white;
				width: 5em;
				height: 5em;
			}
		}

		&.active {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

#footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	/*opacity: 0.4;*/
	padding: 4em 0;
	font-size: 1.5rem;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	position: absolute;
	max-width: 90%;
	margin: 0 auto;

	&.sticky {
		position: fixed;
		left: auto;
		right: 7%;
		.column { display: none; }
	}

	&::after {
	    display: none;
	}

	nav.navigation {
		align-self: auto;
		padding-bottom: 0;

		.menu li a {
		    opacity: 0.6;

	        &:hover {
		    	opacity: 1;
		    }
		}
	}

	.column {
		float: none;
		width: auto;
		opacity: 0.4;
	}
}

.menu {
	margin: 0;

	li {
	    display: inline-block;
	    padding: 0 1em;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-size: 0.75em;
	    letter-spacing: 0.1em;
	    margin: 0;

	    a {
		    color: $white;
		    text-shadow: 0px 2px 16px rgba(0,0,0,0.6);
			display: inline-block;
			vertical-align: middle;
			position: relative;
			overflow: hidden;
			padding: 0.5em 0;

			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				left: 51%;
				right: 51%;
				bottom: 0;
				background: $blue;
				height: 4px;
				transition-property: left, right;
				transition-duration: 0.3s;
				transition-timing-function: ease-out;
			}

			// &:hover:before,
			&:focus:before,
			&:active:before,
			&.active:before {
				left: 0;
				right: 0;
			}
		}
	}
}

.menu li a,
body.not-home #footer .menu li a {
    opacity: 0.6;

    &:hover,
	&.active {
    	opacity: 1;
    }
}

section {
	margin-top: 5em;

	h1, h2, p {
		max-width: 480px;
	}
}

.company-info p {
	font-size: 0.882em;
	padding-bottom: 0;
    margin-bottom: 0;
}

.company-name {
	font-weight: bold;
}

.company-name-short  {

}

#ic-scroll {
	width: 32px;
	height: 56px;
	position: fixed;
	bottom: 5%;
	z-index: 5;
	left: 50%;
	margin-left: -16px;

	&.mouse {
		border: 2px solid rgba($white,0.15);
		border-radius: 50px;
		margin-left: 16px;
		opacity: 0.64;
		@include trans;

		&, &:before {
			left: 50%;
		}

		&:hover {
			opacity: 1;
		}

		&:before {
			content: '';
			width: 6px;
			height: 6px;
			background: $white;
			position: absolute;
			top: 12px;
			margin-left: -3px;
			border-radius: 12px;
			animation-duration: 1.6s;
			animation-iteration-count: infinite;
			animation-name: ic-scroll;
			animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}

.ic-scroll-arrow {
	display: block;
	position: relative;
	transform: rotate(45deg);
	border-right: 2px solid rgba($blue,.65);
	border-bottom: 2px solid rgba($blue,.65);
	margin: 0 0 16px 8px;
	width: 12px;
	height: 12px;

	animation: mouse-scroll 0.9s infinite;
	animation-direction: alternate;

	&.first {
		animation-delay: 0s;
	}

	&.second {
		&, &:after {
			animation-delay: .2s;
		}
		animation-direction: alternate;
		margin-top: -6px;
	}

	&.third {
		&, &:after {
			animation-delay: .3s;
		}
		animation-direction: alternate;
		margin-top: -6px;
	}

	&:after {
		content:'';
		display:block;
		width:1px;
		height:1px;
		position: absolute;
		box-shadow: 12px 12px 24px 2px $blue;
		animation: mouse-scroll-glow 0.9s infinite;
		animation-direction: alternate;
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	10%  { opacity: 0; }
	// 80%  { opacity: .5; }
	100% { opacity: 1; }
}

@keyframes mouse-scroll-glow {
	0%   { opacity: 0; }
	60%  { opacity: 0; }
	100% { opacity: 1; }
}


.scrolled {
	opacity: 0;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-name: scrolled;
	animation-fill-mode: forwards;
}

@keyframes ic-scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(32px);
	}
}

@keyframes scrolled {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
		visibility: hidden;
	}
}

@media (max-width: 1100px) {
	#topbar-container #topbar {
		> div {
			width: 100%;
		}

		#nav-icon {
			display: block;
			opacity: 1;
		}
	}

	#topbar-container nav.navigation {
		display: none;
		opacity: 0;
		transform: scale(0);
	}

	#topbar-container.sticky:before {
		opacity: 1;
	}

	// .image-section#contact {
	// 	position: relative;
	// 	transform: translateX(0);
	// 	opacity: 1;
	// 	z-index: 1;

	// 	.container {
	// 		padding: 3em;
	// 	}

	// 	.container .container {
	// 	    width: auto;
	// 	}

	// 	button.close {
	// 		display: none;
	// 	}
	// }

	// .image-section#careers > .container {
	//     padding: 8em 0 0em;
	// }

	// .image-section#contact > .container {
	//     padding-bottom: 13em;
	// }
}

@media (max-width: 900px) {
	.image-section#hero::before {
		top: -34vh;
	}

	.image-section {
		background-position: 75%;

		&#careers,
		&#contact {
			min-height: auto;
		}
	}
}

@media (max-width: 640px) {
	#topbar-container #logo .logo {
		max-width: 240px;
	}

	.image-section .container {
		padding: 0;
	}

	.image-section#careers .careers-offer a {
		position: relative;
		right: 0;
		bottom: 0;
		top: 0;
		margin-top: 1em;
	}
}

@media (max-width: 400px) {
	.image-section > .container {
		padding: 8em 2em 2em !important;
	}

	.image-section#careers .container {
		// padding: 8em 2em 13em !important;
		// padding: 8em 2em !important;

		.careers-offer {
			padding: 2em 2.5em;
		}

		h1 {
			padding-left: 2em;
		}
	}

	.image-section#contact {
		padding-bottom: 13em;
	}

	#topbar-container #logo .logo {
		max-width: 200px;
	}

	#topbar-container #topbar #nav-icon {
		transform-origin: right;
		transform: scale(0.75);
	}

	#topbar-container.sticky:not(.open) .logo,
	#topbar-container.open #topbar > div #logo .logo {
		// transform: scale(0.75) translateX(-6vw) translateY(3vh);
	}
}

@media (min-width: 750px) {
	body {
		background-position-y: center;
	}
}

@media (min-width: 550px) {
	.logo {
		// margin-left: -2em;
	}
}