

<table cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; border:0; width: 600px; max-width: 600px !important; padding: 0 !important; margin: 0 !important;">
	<tr>
    	<td colspan="2" style="padding: 16px 0 8px;">
    		<p style="font-family:Calibri,sans-serif;font-size:11pt;font-weight:400;mso-line-height-rule:exactly;line-height:130%;margin:0;padding:0">With kind regards,</p>
    	</td>
    </tr>
    <tr>
    	<td>
		    <p style="font-family:Calibri,sans-serif;font-size:11pt;font-weight:400;mso-line-height-rule:exactly;line-height:130%;margin:0;padding:0;"><b>Jakub Topolski</b><br>Product Designer<br>+48 530 073 872</p>
    	</td>
    	<td style="text-align: right;">
    		<div style="width:120px!important;max-width:120px!important;padding:0;display: inline;">
    			<a href="https://see.inc" target="_blank">
    				<img src="https://see.inc/images/mail-sig-logo.png" alt="SEE.inc" width="120" style="width:120px!important;max-width:120px!important">
    			</a>
    		</div>
    	</td>
    </tr>
    <tr>
    	<td colspan="2" style="padding: 16px 0 8px;">
    		<p style="color:#a3acb8;font-family:Calibri,sans-serif;font-size:8pt;font-weight:400;mso-line-height-rule:exactly;line-height:130%;margin:0;padding:0;text-align: justify;letter-spacing: 0.03em;">The information transmitted from <b>Source Enterprise Sp. z o.o. Sp. K.</b> is intended only for the person or entity to which it is addressed and may contain confidential and/or privileged material. Any review, retransmission, dissemination or other use of, or taking of any action in reliance upon, this information by person or entity other than the intended recipient is not permitted. If you received this in error, please contact the sender and delete the material from any computer.</p>
    	</td>
    </tr>
</table>